body {
    margin: 0;
    font-family: 'predoka', sans-serif;
}

/*Topo*/
.secao-topo{
    border-bottom: 1px solid #d5d5d5;
}

.secao-largura-limitada{
    width: 800px;
    margin: 0 auto;
}

h1, h2, h3 {
    margin: 0;
}

.secao-topo p{
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}
.link{
    border-bottom: 1px solid;
    color: rgb(49, 29, 17);
    text-decoration: none;
    padding: 0px;
    margin: 0 auto;
    margin-right: 15px;
    text-align: center;
    font-weight: bold;
}

/*Seção inicial com imagem de fundo*/

.secao-background-capa {
    min-height: 500px;
    background-image: url(https://github.com/jordanrafaell/advogacia.github.io/assets/61181764/b8e6bcd8-1761-4786-b5f0-a7fb60fdda97);
    background-size: cover;
}

.secao-background-conteudo {
    text-align: right;
    padding: 50px 20px;
}

/*seção conteudo*/

.secao-conteudo {
    padding: 50px 20px;
}

.img-conteudo {
    width: 250px;
    height: 180px;
}

.secao-conteudo span{
    border-left: 1px solid;
    padding-left: 10px;
    font-size: 20px;
}


/* seção com imagem de fundo e texto*/

.secao-background-divisao{
    padding: 50px 0;
    text-align: center;
    background-image: url(https://github.com/jordanrafaell/advogacia.github.io/assets/61181764/59da8b5f-373c-40c6-b50c-213183b1cfd0);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.secao-background-divisao h3{
    font-size: 36px;
    background-color: #fff;
    width: 200px;
    margin: 0 auto;
    border-radius: 20px;
}